.syntax-text-area {
    -fx-background-color: black;
    -fx-background-fill: black;
    -fx-cursor: text;
}

.syntax-text-area .paragraph-box:has-caret {
    -fx-background-color: black;
}

.syntax-text-area .text {
    -fx-fill: green;
}

.syntax-text-area .gutter .lineno {
    -fx-text-fill: green;
    -fx-fill: green;
    -fx-background-fill: green;
}

.syntax-text-area .gutter {
    -fx-border-color: black;
    -fx-background-color: black;
    -fx-border-width: 0 1px 0 0;
    -fx-padding: 0 3 0 3;
}

.syntax-text-area .caret {
    -fx-stroke: green;
}

.syntax-text-area .text.control, .syntax-text-area .text.operator, .syntax-text-area .text.semicolon {
    -fx-fill: green;
}

.syntax-text-area .text.comment {
    -fx-fill: green;
    -fx-font-style: italic;
}

.syntax-text-area .text.keyword {
    -fx-fill: green;
    /*-fx-font-weight: bold;*/
}

.syntax-text-area .text.string {
    -fx-fill: green;
}

.syntax-text-area .text.number {
    -fx-fill: green;
}

.syntax-text-area .text.variable {
    -fx-fill: green;
    /*-fx-font-weight: bold;*/
}


.syntax-text-area .text.number {
    -fx-fill: red;
}

.syntax-text-area .text.variable {
    -fx-fill: red;
    /*-fx-font-weight: bold;*/
}
