/* Подключение кастомного шрифта */
@font-face {
    font-family: 'Mono';
    src: url('fonts/JetBrainsMono-Bold.ttf') format('truetype');
}

.syntax-text-area {
    -fx-background-color: #1e1e1e; /* Глубокий темный фон */
    -fx-background-fill: #2c2c2c; /* Мягкий фон для текста */
    -fx-cursor: text;
    -fx-font-family: 'Mono', monospace; /* Подключение кастомного шрифта */
    -fx-font-size: 14px; /* Размер шрифта для лучшей читаемости */
}

.syntax-text-area .paragraph-box:has-caret {
    -fx-background-color: #252526; /* Цвет фона при наличии каретки */
}

.syntax-text-area .text {
    -fx-fill: #d4d4d4; /* Светлый цвет текста */
}

.syntax-text-area .gutter {
    -fx-border-color: #4e4e4e; /* Темно-серый цвет границы */
    -fx-background-color: #2d2d2d; /* Темный фон для области номеров строк */
    -fx-border-width: 0 1px 0 0;
    -fx-padding: 0 5 0 5; /* Увеличенные отступы для лучшего восприятия */
}

.syntax-text-area .caret {
    -fx-stroke: #ffffff; /* Яркий белый цвет каретки */
}

.syntax-text-area .text.semicolon {
    -fx-fill: #9a9a9a; /* Светлый цвет для точек с запятой */
}

.syntax-text-area .text.control, .syntax-text-area .text.operator {
    -fx-fill: #9cdcfe; /* Яркий голубой цвет для управляющих символов и операторов */
}

.syntax-text-area .text.comment {
    -fx-fill: #6a9955; /* Зеленый цвет для комментариев */
    -fx-font-style: italic; /* Курсив для комментариев */
}

.syntax-text-area .text.selector {
    -fx-fill: #ce9178; /* Теплый оранжево-коричневый цвет для селекторов */
}

.syntax-text-area .text.keyword {
    -fx-fill: #569cd6; /* Синий цвет для ключевых слов */
}

.syntax-text-area .text.string {
    -fx-fill: #ce9178; /* Тот же теплый цвет для строк */
}

.syntax-text-area .text.number {
    -fx-fill: #b5cea8; /* Светло-зеленый цвет для чисел */
}

.syntax-text-area .text.variable {
    -fx-fill: #9cdcfe; /* Тот же цвет для переменных */
}

.syntax-text-area .text.label {
    -fx-fill: #dcdcaa; /* Светлый желтый цвет для меток */
}
