.syntax-text-area {
    -fx-font-family: "Arial";
    -fx-background-color: #272822;
    -fx-background-fill: #272822;
    -fx-cursor: text;
}

.syntax-text-area .paragraph-box:has-caret {
    -fx-background-color: #272822;
}

.syntax-text-area .text {
    -fx-fill: #F8F8F2;
}

.syntax-text-area .gutter .lineno {
    -fx-text-fill: #75715E;
    -fx-fill: #75715E;
    -fx-background-fill: #75715E;
}

.syntax-text-area .gutter {
    -fx-border-color: #272822;
    -fx-background-color: #272822;
    -fx-border-width: 0 1px 0 0;
    -fx-padding: 0 3 0 3;
}

.syntax-text-area .caret {
    -fx-stroke: #F8F8F2;
}

.syntax-text-area .text.control, .syntax-text-area .text.operator, .syntax-text-area .text.semicolon {
    -fx-fill: #F92672;
}

.syntax-text-area .text.comment {
    -fx-fill: #75715E;
    -fx-font-style: italic;
}

.syntax-text-area .text.keyword {
    -fx-fill: #66D9EF;
    /*-fx-font-weight: bold;*/
}

.syntax-text-area .text.string {
    -fx-fill: #E6DB74;
}

.syntax-text-area .text.number {
    -fx-fill: #AE81FF;
}

.syntax-text-area .text.variable {
    -fx-fill: #A6E22E;
    /*-fx-font-weight: bold;*/
}
