.syntax-text-area {
    -fx-background-color: #011627;
    -fx-background-fill: #011627;
    -fx-cursor: text;
}

.syntax-text-area .paragraph-box:has-caret {
    -fx-background-color: #011627;
}

.syntax-text-area .text {
    -fx-fill: #D6DEEB;
}

.syntax-text-area .gutter .lineno {
    -fx-text-fill: #637777;
    -fx-fill: #637777;
    -fx-background-fill: #637777;
}

.syntax-text-area .gutter {
    -fx-border-color: #011627;
    -fx-background-color: #011627;
    -fx-border-width: 0 1px 0 0;
    -fx-padding: 0 3 0 3;
}

.syntax-text-area .caret {
    -fx-stroke: #D6DEEB;
}

.syntax-text-area .text.control, .syntax-text-area .text.operator, .syntax-text-area .text.semicolon {
    -fx-fill: #EF5350;
}

.syntax-text-area .text.comment {
    -fx-fill: #637777;
    -fx-font-style: italic;
}

.syntax-text-area .text.keyword {
    -fx-fill: #C792EA;
    /*-fx-font-weight: bold;*/
}

.syntax-text-area .text.string {
    -fx-fill: #ADDB67;
}

.syntax-text-area .text.number {
    -fx-fill: #82AAFF;
}

.syntax-text-area .text.variable {
    -fx-fill: #7FDBCA;
    /*-fx-font-weight: bold;*/
}
