.syntax-text-area {
    -fx-background-color: #2E3440;
    -fx-background-fill: #2E3440;
    -fx-cursor: text;
}

.syntax-text-area .paragraph-box:has-caret {
    -fx-background-color: #2E3440;
}

.syntax-text-area .text {
    -fx-fill: #D8DEE9;
}

.syntax-text-area .gutter .lineno {
    -fx-text-fill: #4C566A;
    -fx-fill: #4C566A;
    -fx-background-fill: #4C566A;
}

.syntax-text-area .gutter {
    -fx-border-color: #2E3440;
    -fx-background-color: #2E3440;
    -fx-border-width: 0 1px 0 0;
    -fx-padding: 0 3 0 3;
}

.syntax-text-area .caret {
    -fx-stroke: #D8DEE9;
}

.syntax-text-area .text.control, .syntax-text-area .text.operator, .syntax-text-area .text.semicolon {
    -fx-fill: #81A1C1;
}

.syntax-text-area .text.comment {
    -fx-fill: #4C566A;
    -fx-font-style: italic;
}

.syntax-text-area .text.keyword {
    -fx-fill: #88C0D0;
    /*-fx-font-weight: bold;*/
}

.syntax-text-area .text.string {
    -fx-fill: #A3BE8C;
}

.syntax-text-area .text.number {
    -fx-fill: #B48EAD;
}

.syntax-text-area .text.variable {
    -fx-fill: #8FBCBB;
    /*-fx-font-weight: bold;*/
}
